.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fullwidth{
    width: 100%;
}

.pad-0{
    padding: 0 !important;
}

.pad-1{
    padding: 1rem;
}

.pad-2{
    padding: 2rem;
}

.pad-3{
    padding: 3rem;
}

.pad-top-1{
    padding-top: 1rem;
}

.pad-top-2{
    padding-top: 2rem;
}

.pad-right-2{
    padding-right: 2rem;
}

.mar-top-1{
    margin-top: 1rem;
}

.mar-top-2{
    margin-top: 2rem;
}

.mar-top-3{
    margin-top: 3rem;
}

.mar-0{
    margin: 0 !important;
}

.mar-bot-1{
    margin-bottom: 1rem;
}